<h1>Create a Team and Heroes!</h1>
<form action="/teams" method="post">
  <h3>Team Name: <input type="text" name="team"></h3>
  <h3>Team Name: <input type="text" name="team"></h3>
  <h2>Hero 1</h2>
  <h3>Team Name: <input id="member1_name" type="text" name="team"></h3>
  <h3>Team Name: <input id="member1_name" type="text" name="team"></h3>
  <h3>Team Name: <input id="member1_name" type="text" name="team"></h3>
  <h2>Hero 2</h2>
  <h3>Team Name: <input id="member2_name" type="text" name="team"></h3>
  <h3>Team Name: <input id="member2_name" type="text" name="team"></h3>
  <h3>Team Name: <input id="member2_name" type="text" name="team"></h3>
  <h2>Hero 3</h2>
  <h3>Team Name: <input id="member3_name" type="text" name="team"></h3>
  <h3>Team Name: <input id="member3_name" type="text" name="team"></h3>
  <h3>Team Name: <input id="member3_name" type="text" name="team"></h3>
</form>
